body{
    background-color: rgb(51, 46, 38);
    width: auto;
    min-width: 800px;
}
.content{
    width: 80%;
    background-color: #fff;
    margin: 20px auto;  
    line-height:2;
    padding: 30px 0;
} 
.content header{
    background: linear-gradient(90deg, #008CD6 47%, #B1CD2F 180%);
    color: rgb(255, 255, 255);
    text-align: center;
    border: 2px solid rgb(50, 32, 139);
    margin: 0 -2%;   
    border-radius: 10px;
}
.content header h1{
    font-weight: bold;
    font-size: 40px;
}
.content header .wangzhi{
    font-size: 14px;
    font-weight:normal;
   margin-bottom:20px ;
}
.content header .wangzhi a{
    text-decoration: underline;
}
.content header .wangzhi a:hover{
    color: rgb(215, 255, 13);
}
.content section{
    
    margin: 0 auto;
    padding: 30px 80px;
    text-align: justify;
}
.content section p{
    margin: 1em 0;
}
.content section  .p::first-letter{
    font-size: 30px;
    font-weight: bold;
}
.content section h2{
    font-size: 24px;
    font-weight: bold;
    border-top: rgb(152, 152, 152) 1px dashed;
    border-bottom: rgb(152, 152, 152) 1px dashed;
}
.content section p::selection{
	background-color: aqua;
	color: rgb(145, 0, 0);
}
